/**
 * WP-Admin Theme Customisations
 *
 * @package WP_Admin_Theme_Customisations
 * @version 1.1.0
 * @author WPAdmin
 * @link https://github.com/wpadmin
 */

/**
 * Основные стили сайта
 * -----------------------------------------------------------------
 */
body {}

/**
 * Стили заголовков
 * -----------------------------------------------------------------
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* Стили для заголовков */
}

/**
 * Стили для конкретных страниц
 * -----------------------------------------------------------------
 */
.page-specific-class {
    /* Стили для определенных страниц */
}

/**
 * Стили для WooCommerce
 * -----------------------------------------------------------------
 */
.woocommerce .products {
    /* Стили для товаров WooCommerce */
}

/**
 * Медиа-запросы для адаптивного дизайна
 * -----------------------------------------------------------------
 */
@media screen and (max-width: 768px) {
    /* Стили для планшетов */
}

@media screen and (max-width: 480px) {
    /* Стили для мобильных устройств */
}